In [1]:
from CryptoScraper import cryptoDownloader, getAllData
import pandas as pd
from data_utils import BasicFunctions, PriceFunctions, addData
%load_ext autoreload
%autoreload 2

In [15]:
dr = getAllData(cacheOnly=True, how='union')

In [44]:
coinDf = dr.data()

Getting BTC data
Getting DASH data
Getting DOGE data
Getting ETH data
Getting LTC data
Getting STR data
Getting XMR data
Getting XRP data

In [45]:
coinDf['BTC'].head()

         Date      Open     Close       High       Low      Volume
0  1364774400  93.25000  93.10000  100.00000  93.03000  345.583889
1  1364778000  93.37999  93.10000   93.48797  93.10000   45.243335
2  1364781600  93.17000  93.74000   94.00000  93.10999  466.311420
3  1364785200  93.80000  92.70002   93.80000  92.49999   96.316180
4  1364788800  93.15501  93.15503   93.15503  93.15501    5.000000

In [46]:
pf = PriceFunctions()

In [47]:
dataDf = pf.add_yColumns(coinDf)

In [48]:
dataDf['LTC'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification
Date,,,,,,,
1462240800,0.008288,0.008263,0.008320,0.008246,0.182851,0.010007,1.0
1518717600,0.021960,0.021738,0.021970,0.021576,152.516208,0.048589,1.0
1413370800,0.010397,0.010397,0.010397,0.010397,0.011574,0.018260,0.0
1515931200,0.017635,0.017620,0.017721,0.017563,68.951225,0.032399,0.0
1513152000,0.018159,0.017769,0.018170,0.017700,273.881581,0.011889,1.0

In [59]:
pd.read_csv('data_utils/trends_data/bitcoin.csv').head() #weekly data from reverse

         date  bitcoin  isPartial
0  2018-04-15       14       True
1  2018-04-08       16      False
2  2018-04-01       17      False
3  2018-03-25       18      False
4  2018-03-18       18      False

In [60]:
ad = addData(dataDf)

In [61]:
dataGo = ad.data_adder('google')

Adding google data for BTC
Adding google data for DASH
Adding google data for DOGE
Adding google data for ETH
Adding google data for LTC
Adding google data for STR
Adding google data for XMR
Adding google data for XRP

In [62]:
dataGo['XMR'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification,Google Trend
Date,,,,,,,,
1464822000,0.001710,0.001700,0.001710,0.001698,0.371697,0.013080,1.0,1.0
1425096000,0.001525,0.001555,0.001561,0.001516,1.509381,0.060605,1.0,1.0
1493640000,0.017110,0.017381,0.017381,0.017000,172.474012,0.127924,0.0,80.0
1448661600,0.001065,0.001069,0.001070,0.001058,3.576272,0.024181,1.0,1.0
1469934000,0.002972,0.002971,0.002972,0.002959,0.845159,0.020924,0.0,1.0

In [63]:
pd.read_csv('data_utils/wikipedia_data/pageviews.csv').head()

,Date,bitcoin,litecoin,ethereum,dashpay,dogecoin,stellar,ripple,monero
0,2015-07-01,12957.0,276.0,254.0,82.0,1051.0,21.0,294.0,51.0
1,2015-07-02,9802.0,238.0,222.0,73.0,603.0,28.0,315.0,26.0
2,2015-07-03,8307.0,229.0,245.0,71.0,540.0,25.0,223.0,37.0
3,2015-07-04,8947.0,201.0,275.0,60.0,505.0,15.0,134.0,21.0
4,2015-07-05,8692.0,245.0,207.0,80.0,614.0,11.0,176.0,63.0

In [64]:
dataWi = ad.data_adder('wikipedia')

Adding wikipedia data for BTC
Adding wikipedia data for DASH
Adding wikipedia data for DOGE
Adding wikipedia data for ETH
Adding wikipedia data for LTC
Adding wikipedia data for STR
Adding wikipedia data for XMR
Adding wikipedia data for XRP

In [65]:
dataWi['LTC'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification,Google Trend,Wikipedia View
Date,,,,,,,,,
1456232400,0.008020,0.008020,0.008040,0.007980,1.847267,0.005019,0.0,0.0,238.0
1511107200,0.009091,0.009230,0.009233,0.009085,77.304299,0.055814,0.0,25.0,3487.0
1460372400,0.007699,0.007715,0.007715,0.007685,0.375148,0.001599,0.0,0.0,238.0
1452157200,0.007949,0.007950,0.007971,0.007947,0.736915,0.014031,0.0,0.0,219.0
1487559600,0.003608,0.003595,0.003615,0.003595,1.736902,0.028634,0.0,25.0,3487.0

In [69]:
pd.read_csv('data_utils/blockchain_data/bitcoin/difficulty.csv', header=None).head()

                     0    1
0  2009-01-03 00:00:00  1.0
1  2009-01-05 00:00:00  0.0
2  2009-01-07 00:00:00  0.0
3  2009-01-09 00:00:00  1.0
4  2009-01-11 00:00:00  1.0

In [70]:
blockchainAd = ad.data_adder('blockchain')

Adding blockchain data for BTC

In [71]:
blockchainAd['BTC'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification,Google Trend,Wikipedia View,difficulty,cost-per-transaction-percent,cost-per-transaction,estimated-transaction-volume-usd,estimated-transaction-volume,hash-rate,miners-revenue,n-transactions,output-volume,transaction-fees
Date,,,,,,,,,,,,,,,,,,,
1519574400,9399.00,9387.90,9458.00,9360.50,1481.492279,0.078172,1.0,40.0,12176.0,3.007384e+12,2.855716,145.844183,1.288343e+09,118189.262888,2.556413e+07,2.072647e+07,144869.0,8.629574e+05,41.440603
1441929600,239.40,240.46,241.90,239.39,255.064751,0.002075,1.0,2.0,7240.0,5.695765e+10,1.685723,6.318761,4.864658e+07,210536.285714,4.898288e+05,1.044415e+06,165288.0,1.049371e+06,28.994729
1472637600,575.05,575.18,576.09,575.01,82.711677,0.003052,0.0,4.0,10295.0,2.207559e+11,0.805858,4.847360,1.164746e+08,194510.736706,1.810683e+06,1.194622e+06,254486.0,1.309578e+06,68.302082
1491080400,1078.20,1081.10,1081.40,1077.40,254.306381,0.023837,1.0,48.0,67355.0,4.996359e+11,0.728672,7.844659,2.882817e+08,247458.233471,3.278489e+06,1.942180e+06,255871.0,3.816041e+06,190.642632
1447689600,321.64,322.54,322.80,320.98,664.831930,0.037252,1.0,2.0,7240.0,6.584826e+10,1.048872,9.654311,9.355232e+07,286312.000000,5.761069e+05,1.457241e+06,150942.0,1.468912e+06,25.869314