In [1]:
from CryptoScraper import cryptoDownloader, getAllData
import pandas as pd
from data_utils import BasicFunctions, PriceFunctions, addData
%load_ext autoreload
%autoreload 2

In [2]:
dr = getAllData(cacheOnly=True, how='union')

In [3]:
coinDf = dr.data()

Getting BTC data
Getting DASH data
Getting DOGE data
Getting ETH data
Getting LTC data
Getting STR data
Getting XMR data
Getting XRP data

In [4]:
coinDf['BTC'].sample(5)

             Date     Open    Close     High      Low       Volume
24794  1454032800   367.00   365.94   371.00   365.01  3039.082219
31714  1478944800   704.01   706.47   707.01   703.10   316.379146
27511  1463814000   438.98   439.47   439.47   438.20   239.872018
39478  1506895200  4365.40  4407.00  4424.00  4365.30  3729.653573
22363  1445281200   264.12   264.52   265.29   264.01   974.060634

In [5]:
pf = PriceFunctions()

In [6]:
dataDf = pf.add_yColumns(coinDf)

In [7]:
dataDf['LTC'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification
Date,,,,,,,
1427702400,0.006780,0.006823,0.006823,0.006780,0.002042,0.008338,0.0
1475308800,0.006274,0.006261,0.006287,0.006260,0.333934,0.002729,1.0
1498561200,0.015377,0.015070,0.015377,0.015045,172.523359,0.053392,1.0
1463385600,0.008974,0.008914,0.008988,0.008900,7.010447,0.012985,0.0
1523372400,0.016760,0.016735,0.016761,0.016680,19.977486,0.008662,0.0

In [8]:
ad = addData(dataDf)

In [9]:
dataGo = ad.data_adder('google')

Adding google data for BTC
Adding google data for DASH
Adding google data for DOGE
Adding google data for ETH
Adding google data for LTC
Adding google data for STR
Adding google data for XMR
Adding google data for XRP

In [10]:
dataGo['XMR'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification,Google Trend
Date,,,,,,,,
1421060400,0.001370,0.001377,0.001377,0.001350,1.470098,0.005467,0.0,1.0
1416852000,0.001430,0.001420,0.001439,0.001420,0.539372,0.162893,1.0,1.0
1499428800,0.018324,0.018100,0.018350,0.018097,138.180294,0.029708,0.0,80.0
1439557200,0.002234,0.002263,0.002270,0.002224,4.442956,0.048335,1.0,1.0
1516388400,0.028693,0.029544,0.029600,0.028620,82.397160,0.041955,1.0,19.0

In [12]:
dataWi = ad.data_adder('wikipedia')

Adding wikipedia data for BTC
Adding wikipedia data for DASH
Adding wikipedia data for DOGE
Adding wikipedia data for ETH
Adding wikipedia data for LTC
Adding wikipedia data for STR
Adding wikipedia data for XMR
Adding wikipedia data for XRP

In [15]:
dataWi['LTC'].sample(5)

,Open,Close,High,Low,Volume,Percentage Change,Classification,Wikipedia View
Date,,,,,,,,
1464325200,0.009159,0.009180,0.009367,0.009133,107.153287,0.017855,1.0,238.0
1425672000,0.007022,0.007013,0.007022,0.007013,0.000135,0.016341,0.0,194.0
1455724800,0.007721,0.007710,0.007766,0.007673,2.052207,0.003107,0.0,238.0
1418292000,0.009728,0.009728,0.009728,0.009728,0.000000,0.026703,1.0,NaN
1456416000,0.007899,0.007969,0.007970,0.007881,1.657453,0.009979,0.0,238.0

In [ ]:
blockchainAd = ad.data_adder('wikipedia')